<h1>Maps#index</h1>
<p>Find me in app/views/maps/index.html.erb</p>

<button>BUTTON</button>


<%= image_tag 'http://www.jma.go.jp/jp/g3/images/observe/13062615.png' %>

<%= image_tag 'http://www.jma.go.jp/jp/gms/imgs/0/infrared/1/201306261915-00.png' %>
