<h1>Maps#show</h1>
<p>Find me in app/views/maps/show.html.erb</p>

<div class='datepicker'></div>


<%= @date %>
<%= image_tag "http://www.jma.go.jp/jp/g3/images/observe/13#{@date}15.png" %>

<%= image_tag "http://www.jma.go.jp/jp/gms/imgs/0/infrared/1/2013#{@date}1915-00.png" %>
