<h1>Maps#show</h1>
<p>Find me in app/views/maps/show.html.erb</p>

<div class='btn btn-primary'>HOGEHOGE</div>


<div class='datepicker'></div>


<%= @date %>
<% url = "http://www.jma.go.jp/jp/g3/images/observe/13062115.png"  %>
<div class='image' date= "<%= url %> "> <%= url%> </div>
<img src="" id="image-1">  </img>
<%= image_tag "http://www.jma.go.jp/jp/gms/imgs/0/infrared/1/2013#{@date}1915-00.png" %>
